<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>MAPED pages</h1>
<div>
    <p><a href="http://localhost:8080/customermapping/test">
        Test page</a></p>
</div>

<div>
    <a href="http://localhost:8080/customermapping/customer/all">
        Customer all
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/customermapping/customer/112">
        Customer by id
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/customermapping/mycustomer/112">
        Customer by id called with customised method
    </a>
</div>

<div>
    <p><a href=" http://localhost:8080/customermapping/mycustomer/name/Diecast%20Collectables">
        Customer by Name called with customised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/customermapping/mycustomer/Like/a">
        Customer Like Namecustomised method
    </a></p>
</div>

<div>
    <p><a href="http://localhost:8080/customermapping/mycustomer/queryLike/Krem">
        Customer Like Query method
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/customertemplate/test" target="_blank">
        Customer new
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/customertemplate/firstpage/customer/112" target="_blank">
        Customer firstpage new
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/productLinesTemplate/firstPageProductLines/productLines/Classic%20Cars" target="_blank">
        Productlines Ships firstpage new
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/customertemplate/firstpage/customer/all" target="_blank">
        All Customers List
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/productLinesTemplate/firstpage_ProductLines_List/productLines/all" target="_blank">
        All ProductLines List
    </a></p>
</div>
<div>
    <p><a href="http://localhost:8080/customertemplate/customer/112" target="_blank">
        Customer ant naujo template su CSS
    </a></p>
</div>
<h1>Pages with TEMPLATES</h1>
</body>
</html>