<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>MAPED pages</h1>
<di>
    <p><a href="http://localhost:8080/customermapping/test">
        Test page</a></p>
</di>

<di>
    <a href="http://localhost:8080/customermapping/customer/all">
        Customer all
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/customermapping/customer/112">
        Customer by id
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/customermapping/mycustomer/112">
        Customer by id called with customised method
    </a>
</di>

<di>
    <p><a href=" http://localhost:8080/customermapping/mycustomer/name/Diecast%20Collectables">
        Customer by Name called with customised method
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/customermapping/mycustomer/Like/a">
        Customer Like Namecustomised method
    </a></p>
</di>

<di>
    <p><a href="http://localhost:8080/customermapping/mycustomer/queryLike/Krem">
        Customer Like Query method
    </a></p>
</di>
<h1>Pages with TEMPLATES</h1>
</body>
</html>